.cards {
    display: grid;
    gap: 20px 17px;
    grid-template-columns: repeat(auto-fit, 282px);
    /*grid-template-columns: repeat(auto-fit,minmax(280px,1fr));*/
    max-width: 880px;
    grid-auto-flow: row;
    justify-content: center;
    margin: 36px auto 0;
}

@media screen and (min-width: 880px) {
    .cards {
        margin-top: 48px;
    }
}