.profile__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 14px auto 0;
}

@media screen and (min-width: 880px) {
    .profile__text {
        font-size: 18px;
        line-height: 22px;
        margin: 16px 0 0 0;
    }
}
