.popup__text {
    opacity: 0.2;
    border: none;
    border-bottom: 1px solid #000;
    min-height: 30px;
    color: #000;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 27px;
}